body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.input-focused-body-min-height {
  min-height: $body-min-height-input-focused;
}

.header {
  height: $header-height;
  order: 1;
  padding: $global-padding;
}

article {
  position: relative;
}

.header--no-nav {
  height: $header-height--no-nav;
}

.content {
  height: $content-height;
  order: 2;
  flex-grow: 2;
  align-self: center;
  padding: 0;
  position: relative;
}

.content--no-nav {
  height: $content-height--no-nav;
}

.content--no-nav--big-header {
  height: $content-height--no-nav--big-header;
}

.content-kaleidoscope {
  min-height: $content-min-height;
}

.navbar {
  order: 3;
  align-self: flex-end;
  height: $navbar-height;
  line-height: $navbar-height;
  width: 100vw;
}

.header {
  position: relative;
}

.header,
.icon-take-photo {
  z-index: $zindex-header-and-button;
}

.responsive-video {
  z-index: $zindex-video;
  position: relative;
}

.step-3-play-with-kaleidoscope .main-title {
  margin-bottom: 15px;
}
