body {
  display: flex;
  flex-direction: column;
}

.header {
  height: $header-height;
  order: 1;
  padding: $global-padding;
}

.header--no-nav {
  height: $header-height--no-nav;
}

.content {
  height: $content-height;
  order: 2;
  flex-grow: 2;
  align-self: center;
  padding: 0;
  position: relative;
}

.content--no-nav {
  height: $content-height--no-nav;
}

.navbar {
  order: 3;
  align-self: flex-end;
  height: $navbar-height;
  line-height: $navbar-height;
  width: 100vw;
}

.header {
  position: relative;
}

.icon-take-photo,
.header {
  z-index: 100;
}

.icon-take-photo {
  vertical-align: center;
}

.video-responsive {
  z-index: 90;
  position: relative;
}
