extend ./layout/contentLayout.jade

block steps
  include ./partials/step1record.jade
  include ./partials/step2photo.jade
  include ./partials/step3kaleidome.jade
  include ./partials/step4share.jade
