doctype html
html(lang=en)
  include ./partials/head.jade
  body
    a.twitter-grid(href='//twitter.com/SapientXt/timelines/728559939015327744', data-theme='light', data-chrome='transparent')
    script(async='', defer='', src='//platform.twitter.com/widgets.js')
