/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
@import 'variables';
@import 'vertical-rhythm';
// If we've customized any font variables, we'll need extra properties.
@if $base-font-size != 16px or
  $base-line-height != 24px or
  $base-unit != 'em' or
  $h1-font-size != 2 * $base-font-size or
  $h2-font-size != 1.5 * $base-font-size or
  $h3-font-size != 1.17 * $base-font-size or
  $h4-font-size != 1 * $base-font-size or
  $h5-font-size != .83 * $base-font-size or
  $h6-font-size != .67 * $base-font-size or
  $indent-amount != 40px {

  $normalize-vertical-rhythm: true !global;
}
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  @if $normalize-vertical-rhythm {
    // Correct text resizing oddly in IE 6/7 when body `font-size` is set using
    // `em` units.
    font-size: ($base-font-size / 16px) * 100%;
  }
  @if $normalize-vertical-rhythm {
    line-height: ($base-line-height / $base-font-size) * 1em;
  }
  font-family: $base-font-family;
  text-size-adjust: 100%;
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  vertical-align: baseline;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* Links
   ========================================================================== */
/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  @include normalize-font-size($h1-font-size);
  @if $normalize-vertical-rhythm {
     @include normalize-line-height($h1-font-size);
  }
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  @include normalize-margin(1 0, $h1-font-size);
}

@if $normalize-vertical-rhythm {
  h2 {
    @include normalize-font-size($h2-font-size);
    @if $normalize-vertical-rhythm {
       @include normalize-line-height($h2-font-size);
    }
    @include normalize-margin(1 0, $h2-font-size);
  }

  h3 {
    @include normalize-font-size($h3-font-size);
    @if $normalize-vertical-rhythm {
       @include normalize-line-height($h3-font-size);
    }
    @include normalize-margin(1 0, $h3-font-size);
  }

  h4 {
    @include normalize-font-size($h4-font-size);
    @if $normalize-vertical-rhythm {
       @include normalize-line-height($h4-font-size);
    }
    @include normalize-margin(1 0, $h4-font-size);
  }

  h5 {
    @include normalize-font-size($h5-font-size);
    @if $normalize-vertical-rhythm {
       @include normalize-line-height($h5-font-size);
    }
    @include normalize-margin(1 0, $h5-font-size);
  }

  h6 {
    @include normalize-font-size($h6-font-size);
    @if $normalize-vertical-rhythm {
       @include normalize-line-height($h6-font-size);
    }
    @include normalize-margin(1 0, $h6-font-size);
  }
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
@if $normalize-vertical-rhythm {
  dl,
  menu,
  ol,
  ul {
    @include normalize-margin(1 0);
    list-style: none;
  }
}

@if $normalize-vertical-rhythm {
  /**
   * Turn off margins on nested lists.
   */
  ol,
  ul {
    ol,
    ul {
      margin: 0;
    }
  }
}

@if $normalize-vertical-rhythm {
  dd {
    margin: 0 0 0 $indent-amount;
  }
  /**
   * Address paddings set differently in IE 6/7.
   */
  menu,
  ol,
  ul {
    padding: 0 0 0 $indent-amount;
  }
}

@if $normalize-vertical-rhythm {
  /**
   * Set 1 unit of vertical rhythm on the top and bottom margin.
   */
  blockquote {
    @include normalize-margin(1 $indent-amount);
  }
}
@if $normalize-vertical-rhythm {
  /**
   * Address margin not present in IE 8/9 and Safari.
   */
  figure {
    @include normalize-margin(1 $indent-amount);
  }
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

@if $normalize-vertical-rhythm {
  /**
   * Set 1 unit of vertical rhythm on the top and bottom margin.
   */
  p,
  pre {
    @include normalize-margin(1 0);
  }
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
  appearance: button;
  cursor: pointer;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid transparent;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
