head
  meta(charset='utf-8')
  meta(name='description', content='#{global.description}')
  meta(name='viewport', content='width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1')
  meta(itemprop='description', content='')
  meta(itemprop='image', content='')
  meta(itemprop='name', content='')
  title=global.title
  link(href='style.css', rel='stylesheet')
