mixin loading(hiddenClass)
  div.icon-loading-animation(class=hiddenClass)
    div.bg
    svg.icon.icon-loading.icon-logo--white(xmlns='http://www.w3.org/2000/svg', width='39', height='64.33', viewbox='0 0 39 64.33')
      path(d='M19,50.35a4.94,4.94,0,0,1,5.07-4.76h5.5a4,4,0,0,0,4-4V36.09a4,4,0,0,0-4-4H23.74A5,5,0,0,1,19,27.06v-6a5,5,0,0,1,5.07-4.77l5.55,0a3.94,3.94,0,0,0,4-3.93V6.9a4,4,0,0,0-4-4h-5.5a4,4,0,0,0-4,4v5.55a5,5,0,0,1-4.77,5.07H9.54a4,4,0,0,0-4,4V27a4,4,0,0,0,4,4h5.59a5,5,0,0,1,5.07,4.77v6a4.9,4.9,0,0,1-4.77,5H9.54a4,4,0,0,0-4,4v5.5a4,4,0,0,0,4,4h5.53a4,4,0,0,0,4-4V50.35Z')
