article.step-2-review-photo.u-center-vertically.u-full-size.u-hidden
  img.photo.responsive-img(src='/images/sn-logo.png', alt='Your Photo')
  small.u-text-center.js-not-supported.u-hidden
    i
      | #{step2photo.notSupported}
