article.step-3-play-with-kaleidoscope.u-text-center.u-center-vertically.u-full-size.kaleidoscope-container.u-hidden
  h1.main-title.u-text-center.u-top-spacer--half
    | #{step3kaleidome.title}
  p.u-bottom-spacer--tiny
    | #{step3kaleidome.description}
  p.u-bottom-spacer--tiny
    | #{step3kaleidome.shareThen}
  canvas.kaleidoscope
