$animation-duration: 10s;
// This is our container, it has a grey background,
// the svg of the icon,
// and a div with blue background which is translated to the bottom,
// with the animation, it will slowly be translated to the top, giving a effect of loading buble
.icon-loading-animation {
  background-color: $brand-grey;
  width: $button-height;
  height: $button-height;
  border-radius: 50%;
  z-index: $zindex-loading-animation-container;
  overflow: hidden;
  position: relative;
  perspective: 1000;
  top: 50%;

  .bg {
    background-color: $primary-color;
    animation: $animation-duration linear 0s animation-loading;
    animation-iteration-count: infinite;
    position: absolute;
    width: $button-height;
    height: $button-height;
    z-index: $zindex-loading-animation-waves;
    transform: translateY(100%);
    transform-style: preserve-3d;
    top: 0;
    left: 0;
  }

  .icon {
    position: relative;
    z-index: $zindex-loading-animation-icon;
    animation: ($animation-duration - 1) cubic-bezier(0, .25, .17, 1.23) 0s flip;
    animation-iteration-count: infinite;
  }
}

// As the background animation is infinite,
// The flip animation also needs to be infinite. As the logo needs to flip when the background comes
// back down.
// In order to add a delay for each loop, we just add more stages to the frames.
@keyframes flip {
  0%,
  30%,
  40%,
  5%,
  50%,
  60%,
  80%,
  90% {
    transform: rotateY(0deg);
  }

  95% {
    transform: rotateY(90deg);
  }

  97% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(90deg);
  }
}

// A way to write this shorter would be to have all the percentages as a map,
// and iterate over the map and render the values.
// I guess that is a thing to do for next time. No body will scroll to the end of this file anyways.
@keyframes animation-loading {
  0% {
    transform: translateY(100%);
  }

  5% {
    transform: translateY(80%);
  }

  10% {
    transform: translateY(70%);
  }

  15% {
    transform: translateY(80%);
  }

  20% {
    transform: translateY(70%);
  }

  25% {
    transform: translateY(50%);
  }

  30% {
    transform: translateY(60%);
  }

  35% {
    transform: translateY(45%);
  }

  40% {
    transform: translateY(27%);
  }

  45% {
    transform: translateY(37%);
  }

  50% {
    transform: translateY(20%);
  }

  52% {
    transform: translateY(25%);
  }

  55% {
    transform: translateY(12%);
  }

  60% {
    transform: translateY(15%);
  }

  65% {
    transform: translateY(7%);
  }

  70% {
    transform: translateY(10%);
  }

  75% {
    transform: translateY(5%);
  }

  80% {
    transform: translateY(0%);
  }

  85% {
    transform: translateY(0%);
  }

  90% {
    transform: translateY(80%);
  }

  95% {
    transform: translateY(90%);
  }

  100% {
    transform: translateY(100%);
  }
}
