.content-box {
  padding: $global-padding;
  margin: 0 auto;
}

.content-text-box {
  margin: 40px auto;
}

.content-text-box--half {
  margin: 20px auto;
}

.content-link-centered {
  margin: 10px auto 20px;
  display: block;
}
