.logo {
  height: 35px;
  vertical-align: middle;
}

.header-powered-by--small {
  font-size: 1em;
}

.header-powered-by {
  margin-bottom: 5px;
}

.header-powered-by-image--inlined {
  max-height: 35px;
  display: inherit;
  vertical-align: middle;
  margin-left: 6px;
  width: auto;
}
