.logo {
  height: 40px;
  vertical-align: middle;
}

.header-powered-by--small {
  font-size: 1em;
}

.header-powered-by {
  margin-bottom: 5px;
}

.header-powered-by-image--inlined {
  max-width: 30%;
  display: inherit;
  vertical-align: middle;
  margin-left: 6px;
}
