.error,
.error input,
.error textarea,
.error .characters-left-counter {
  color: $error-color;
}

input,
textarea {
  &:focus {
    background-color: $color-alabaster-grey;
  }
}

.characters-left-counter {
  margin: $input-margin;
  display: inline-block;
  margin: 5px 0 15px 0;
}

.tweet-thumbnail {
  max-height: $kaleidoscope-height--thumbnail;
  width: auto;
  margin: 0 auto;
}

.success-message {
  color: $success-color;
  font-weight: normal;
}

.tweet-content-form {
  padding: $global-padding;
  background-color: $brand-white;
  margin-bottom: 15px;
}
